<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Report_Illness"
        tools:targetApi="31">
        <activity
            android:name=".views.reported_case.GraphActivity"
            android:exported="false" />
        <activity
            android:name=".views.reported_case.ListActivity"
            android:exported="false" />
        <activity
            android:name=".views.reported_case.CreateActivity"
            android:exported="false" />
        <activity
            android:name=".views.city.ListActivity"
            android:exported="false" />
        <activity
            android:name=".views.city.CreateActivity"
            android:exported="false" />
        <activity
            android:name=".views.country.ListActivity"
            android:exported="false" />
        <activity
            android:name=".views.country.CreateActivity"
            android:exported="false" />
        <activity
            android:name=".views.disease.ListActivity"
            android:exported="false" />
        <activity
            android:name=".views.disease.CreateActivity"
            android:exported="false" />
        <activity
            android:name=".views.patient.ListActivity"
            android:exported="false" />
        <activity
            android:name=".views.patient.CreateActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Report_Illness">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>